<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info(ID: [[${user.id}]])</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h1>User Info(ID: [[${user.id}]])</h1>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.name}]]</td>
                    <td>[[${user.phoneNum}]]</td>
                    <td>[[${user.balance}]]</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
</body>
</html>